td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
    border-color: blue;
}
table {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-color: blue;
    font-size: 40px;

}
